# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (opcjonalnie, jeśli używasz)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
*.xcworkspace
*.xcuserstate

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/build/
!**/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.jar

# Web
lib/generated_plugin_registrant.dart

# Plik konfiguracyjny z danymi lokalnymi
lib/config/config.dart

#windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake

#macos
macos/Flutter/GeneratedPluginRegistrant.swift

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android local config
android/app/google-services.json